{# bootstrap3 라이브러리 로드 #} 
{% load bootstrap3 %}
{# bootstrap3 라이브러리를 통해 css/javascript 태그 출력 #} 
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class='container'>
    <div class='row'>
        <div class='col-md-6 col-md-offset-3'>
            <h1> Post Form</h1>
            <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %} <!-- bootstrap3 라이브러리를 통해 Form Render -->
             <input type="submit" class="btn btn-primary btn-lg" value ='제출'/>
            </form>
        </div>
    </div>
</div>





<script>
    /* 자바스크립트로 user_agent 필드값 채워넣기 */
    var dom = document.getElementById('{{ form.user_agent.id_for_label }}'); 
    dom.value = navigator.userAgent;
</script>