{%extends "blog/layout.html"%}
{%load imagekit%}

{% block title%}
  {{post.title}}
{%endblock%}
{%block content %}
   <div class="container">
     <div class="row">
        <div class='col-sm-12'>
            <h1> {{post.title}}</h1>
            {% if post.photo%}
             {#1#} <img src='{{post.photo.url}}' style="max_width:100%;"/>
             {#2#} {% thumbnail '100x100' post.photo%}
             {#3#} {% thumbnail '100x100' post.photo as thumb%}  {# 커스텀 하면 이것은 출력하지 않고 instance 만 보내줌#}
                   <img src="{{thumb.url}}" , width="{{thumb.width}}", height="{{tyumb.height}}" />
             {#4#} {% thumbnail '100x100' post.photo -- style='' onclick='' class=''%}
            {%endif%}
              {{post.content|linebreaks}}   
               <hr />
            <h3> Comment </h3>
                <ul>
                   {%for comment in post.comment_set.all %}
                     <li>
                        {{comment.message}}
                        <small> by {{comment.author}}</small>
                        <small> at {{comment.created_at}}</small>
                      </li>
                    {%endfor%}
                </ul>
               <hr />
            <a href="{% url 'blog:post_list'%}" class="btn btn-primary"> 글 목록 </a>
            <a href="{% url 'blog:post_edit' post.id%}" class="btn btn-default"> 글 수정 </a>
        
        </div>
     </div>
   </div>
{%endblock%}


